<section id="viewhotelDetails">
    <h2>Details</h2>
    <div class="hotel-ticket">
        <div class="hotel-left">
            <img src="{{instance.imageUrl}}"
                alt="">
        </div>
        <div class="hotel-right">
            <div>
                <h3>{{instance.name}}</h3>
            </div>
            <div>
                {{instance.city}}
            </div>
            <p><span >Free rooms: {{instance.currentAvailablePieces}}</span> </p>
            {{#if isLogged}}
            {{#if isOwner}}
                <a href="/edit/{{instance._id}}" class="edit">Edit</a>
                <a href="/delete/{{instance._id}}" class="remove">Delete</a>
            {{else}}
            {{#if instance.hasEnrolled}}
            <p><span class="green">You already have booked a room</span> </p>
            {{else}}
            <a href="/enroll/{{instance._id}}" class="book">Book</a>
            {{/if}}
            {{/if}}

            {{/if}}
        </div>

    </div>
</section>