{{#if isOwner}}
<section id="catalog-section">

    <h1 class="item">
        {{instance.title}}
        <div class="f-right">
            <a class="action pad-small f-left" href="/edit/{{instance._id}}">Edit</a>
            <a class="action pad-small f-left" href="/delete/{{instance._id}}">Delete</a>
        </div>
    </h1>
    <div class="item padded">

        <div class="layout right large">
            
            <div class="col">
                <img src={{instance.imageUrl}} class="img-large">
            </div>

            <div class="content pad-med">

                <p>In category: <strong>{{instance.category}}</strong></p>
                <p>{{instance.description}}</p>

                <div class="align-center">
                    <div>
                        Current price: $<strong>{{instance.price}}</strong>
                    </div>

                    <div>
                        <!-- If there is a bidder -->
                        {{#if instance.enrolledUsers}}
                        Bid by <strong>{{instance.lastEnrolled.firstName}} {{instance.lastEnrolled.lastName}}</strong>

                  
                        {{#if instance.lastEnrolled}}
                        <a class="action pad-med cta" href="/close/{{instance._id}}">Close Auction</a>
                        {{/if}}

                        {{else}}
                        No bids
                        {{/if}}
                    </div>
                </div>

            </div>
        </div>

        <footer>{{instance.owner.firstName}} {{instance.owner.lastName}}</footer>
    </div>

</section>

{{else}}

<section id="catalog-section">

    <h1 class="item">
       {{instance.title}}
    </h1>
    <div class="item padded">

        <div class="layout right large">

            <div class="col">
                <img src={{instance.imageUrl}} class="img-large">
            </div>

            <div class="content pad-med">

                <p>In category: <strong>{{instance.category}}</strong></p>
                <p>{{instance.description}}</p>

                <div class="align-center">
                    <div>
                        Current price: $<strong>{{instance.price}}</strong>
                    </div>
                    {{#if isLogged}}
                    <!-- If current user can place a bid -->
                     {{#if instance.hasEnrolled}}
                        <div>
                            You are currently the <strong>highest bidder</strong> for this auction
                        </div>
                     {{else}}
                    <form class="vertical" method="post" action="/enroll/{{instance._id}}">
                        <label><span>Bid amount</span><input type="number" name="newPrice" value={{#if errors}}{{instance.newPrice}}{{/if}}></label>
                        <input class="action" type="submit" value="Place bid">
                    </form>
                    {{/if}}
                    <!-- If current user is the bidder -->
                    {{/if}}

                </div>

            </div>
        </div>

        <footer>{{instance.owner.firstName}} {{instance.owner.lastName}}</footer>
    </div>
</section>
{{/if}}