
<main>
      <h1>{{model.name}}</h1>
      <img class="cube" src={{model.imageUrl}}>
      <div class="details">
        <p><span>Description:</span> {{model.description}}</p>
        <p><span>Difficulty level:</span> {{model.diffLevel}}</p>
        <a class="btn" href="/">Back</a>
        {{#if isOwner}}
        <a class="btn" href="/attach/accesory/{{model._id}}">Attach Accesory</a>
        <a class="btn" href="/edit/{{model._id}}">Edit</a>
        <a class="btn" href="/delete/{{model._id}}">Delete</a>
        {{/if}}
        
      </div>
      <h2>Accessories</h2>
      <div class="accessories">
      {{#if acc}}
      {{#each acc}}
        {{>'attachedAccesory'}}
      {{/each}}

       {{else}}
          <h3 class="italic">This cube has no accessories yet...</h3>
      {{/if}}
      </div>

</main>
